In [224]:
import seaborn as sns
import numpy as np

In [225]:
#reading
import pandas as pd
df =pd.read_csv('C:\\Users\\user\\Desktop\\MAIN\\ELEVATE LABS\\PROJECT 1\\E-COMMERCE RETURNS\\ecommerce_returns_synthetic_data.csv')

In [226]:
#showing

df.head(5)

,Product_ID,User_ID,Order_Date,Return_Date,Product_Category,Product_Price,Order_Quantity,Return_Reason,Days_to_Return,User_Age,User_Gender,User_Location,Payment_Method
0,PROD00000000,USER00000000,2023-08-05,2024-08-26,Clothing,411.59,3,Changed mind,387.0,58,Male,City54,Debit Card
1,PROD00000001,USER00000001,2023-10-09,2023-11-09,Books,288.88,3,Wrong item,31.0,68,Female,City85,Credit Card
2,PROD00000005,USER00000005,2024-02-14,2024-09-22,Electronics,252.12,1,Defective,221.0,46,Female,City47,Debit Card
3,PROD00000006,USER00000006,2023-05-29,2023-08-03,Clothing,382.89,2,Wrong item,66.0,25,Male,City50,Credit Card
4,PROD00000007,USER00000007,2023-02-09,2024-08-01,Electronics,306.39,3,Not as described,539.0,67,Female,City39,Credit Card

In [ ]:
#items that are not returned  are removed because we are analysing only returned data
#df = df[df['Return_Status'] == 'Returned']

# Step 3: (Optional) Reset the index after filtering
#df = df.reset_index(drop=True)

#now we have all returned rows so we can drop that column
#df.drop(['Return_Status'],axis=1,inplace=True)

In [228]:
#num of days to return cannot be negitive so lets remove rows with negitive
df = df.drop(df[df['Days_to_Return'] < 0].index)

In [229]:
df.columns.to_list()
#showing columns

['Product_ID',
 'User_ID',
 'Order_Date',
 'Return_Date',
 'Product_Category',
 'Product_Price',
 'Order_Quantity',
 'Return_Reason',
 'Days_to_Return',
 'User_Age',
 'User_Gender',
 'User_Location',
 'Payment_Method']

In [230]:
#total null values
df.isnull().sum()

Product_ID          0
User_ID             0
Order_Date          0
Return_Date         0
Product_Category    0
Product_Price       0
Order_Quantity      0
Return_Reason       0
Days_to_Return      0
User_Age            0
User_Gender         0
User_Location       0
Payment_Method      0
dtype: int64

In [231]:
df.shape

(2539, 13)

In [232]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2539 entries, 0 to 5050
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_ID        2539 non-null   object
 1   User_ID           2539 non-null   object
 2   Order_Date        2539 non-null   object
 3   Return_Date       2539 non-null   object
 4   Product_Category  2539 non-null   object
 5   Product_Price     2539 non-null   float64
 6   Order_Quantity    2539 non-null   int64
 7   Return_Reason     2539 non-null   object
 8   Days_to_Return    2539 non-null   float64
 9   User_Age          2539 non-null   int64
 10  User_Gender       2539 non-null   object
 11  User_Location     2539 non-null   object
 12  Payment_Method    2539 non-null   object
dtypes: float64(2), int64(2), object(9)
memory usage: 277.7+ KB

In [233]:
df.describe()

       Product_Price  Order_Quantity  Days_to_Return     User_Age
count    2539.000000     2539.000000     2539.000000  2539.000000
mean      256.505920        3.020874      243.464750    44.125640
std       142.970513        1.421701      172.971464    15.220405
min         5.270000        1.000000        0.000000    18.000000
25%       134.135000        2.000000       96.000000    31.000000
50%       256.970000        3.000000      217.000000    44.000000
75%       383.535000        4.000000      363.000000    57.000000
max       499.710000        5.000000      726.000000    70.000000

In [234]:
# Convert 'Return_Date' to datetime (if it's not already)
df['Return_Date'] = pd.to_datetime(df['Return_Date'], errors='coerce')

# Replace NaN with the most frequent date in the column
most_frequent_date = df['Return_Date'].mode()[0]
df['Return_Date'] = df['Return_Date'].fillna(most_frequent_date)

In [235]:
col=df['Return_Reason']
col=col.fillna(col.mode()[0],inplace=True)

In [236]:
col=df['Days_to_Return']
col=col.fillna(col.mean(),inplace=True)

In [237]:
df.isnull().sum()

Product_ID          0
User_ID             0
Order_Date          0
Return_Date         0
Product_Category    0
Product_Price       0
Order_Quantity      0
Return_Reason       0
Days_to_Return      0
User_Age            0
User_Gender         0
User_Location       0
Payment_Method      0
dtype: int64

In [238]:
# Save the cleaned DataFrame to a same file
df.to_csv('C:\\Users\\user\\Desktop\\MAIN\\ELEVATE LABS\\PROJECT 1\\E-COMMERCE RETURNS\\ecommerce_returns_synthetic_data.csv', index=False)