In [116]:
import pandas as pd
import pandasql as ps

In [117]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import random
#import the data set required

In [118]:
df = pd.read_csv('C:\\Users\\user\\Desktop\\MAIN\\ELEVATE LABS\\PROJECT 1\\E-COMMERCE RETURNS\\ecommerce_returns_synthetic_data.csv')  # Replace with the path to your CSV file

# Step 2: Create an SQLite in-memory database connection
conn = sqlite3.connect(':memory:')  # In-memory database

# Step 3: Write the DataFrame to a new SQLite table
df.to_sql('RETURNS_TABLE', conn, index=False)  # Replace if exists

2539

In [119]:
# View all data (limit 10 rows for readability)
query = "SELECT * FROM RETURNS_TABLE LIMIT 10;"
result = pd.read_sql(query, conn)
print(result)

     Product_ID       User_ID  Order_Date Return_Date Product_Category  \
0  PROD00000000  USER00000000  2023-08-05  2024-08-26         Clothing
1  PROD00000001  USER00000001  2023-10-09  2023-11-09            Books
2  PROD00000005  USER00000005  2024-02-14  2024-09-22      Electronics
3  PROD00000006  USER00000006  2023-05-29  2023-08-03         Clothing
4  PROD00000007  USER00000007  2023-02-09  2024-08-01      Electronics
5  PROD00000009  USER00000009  2023-03-10  2024-01-21         Clothing
6  PROD00000017  USER00000017  2023-02-03  2023-06-03      Electronics
7  PROD00000028  USER00000028  2024-05-15  2024-09-05             Toys
8  PROD00000037  USER00000037  2023-02-11  2024-05-10         Clothing
9  PROD00000043  USER00000043  2024-05-23  2024-06-05         Clothing

   Product_Price  Order_Quantity     Return_Reason  Days_to_Return  User_Age  \
0         411.59               3      Changed mind           387.0        58
1         288.88               3        Wrong item            31.0        68
2         252.12               1         Defective           221.0        46
3         382.89               2        Wrong item            66.0        25
4         306.39               3  Not as described           539.0        67
5         294.94               3  Not as described           317.0        44
6         400.12               1         Defective           120.0        33
7         106.60               5         Defective           113.0        53
8         246.15               1        Wrong item           454.0        31
9         105.70               3        Wrong item            13.0        44

  User_Gender User_Location Payment_Method
0        Male        City54     Debit Card
1      Female        City85    Credit Card
2      Female        City47     Debit Card
3        Male        City50    Credit Card
4      Female        City39    Credit Card
5        Male        City82    Credit Card
6        Male        City33         PayPal
7        Male        City69    Credit Card
8      Female        City62      Gift Card
9        Male        City41    Credit Card

In [120]:
query = "SELECT COUNT(*) FROM RETURNS_TABLE"
result = pd.read_sql(query, conn)
print(result)

   COUNT(*)
0      2539

In [121]:
query = """
SELECT *
FROM RETURNS_TABLE
WHERE Return_Reason = 'Changed mind'
"""
result = pd.read_sql(query, conn)
print(result)

       Product_ID       User_ID  Order_Date Return_Date Product_Category  \
0    PROD00000000  USER00000000  2023-08-05  2024-08-26         Clothing
1    PROD00000046  USER00000046  2023-05-22  2024-03-09             Home
2    PROD00000082  USER00000082  2023-03-17  2023-08-31      Electronics
3    PROD00000092  USER00000092  2023-10-02  2024-02-27             Home
4    PROD00000117  USER00000117  2024-02-04  2024-09-17      Electronics
..            ...           ...         ...         ...              ...
607  PROD00009943  USER00009943  2023-10-13  2024-10-30         Clothing
608  PROD00009948  USER00009948  2023-01-28  2023-08-05         Clothing
609  PROD00009950  USER00009950  2023-07-29  2024-08-31         Clothing
610  PROD00009956  USER00009956  2024-06-09  2024-08-10            Books
611  PROD00009979  USER00009979  2023-03-11  2024-03-31             Home

     Product_Price  Order_Quantity Return_Reason  Days_to_Return  User_Age  \
0           411.59               3  Changed mind           387.0        58
1            97.31               2  Changed mind           292.0        53
2           496.22               5  Changed mind           167.0        67
3           394.71               4  Changed mind           148.0        66
4           265.23               4  Changed mind           226.0        57
..             ...             ...           ...             ...       ...
607         480.84               2  Changed mind           383.0        54
608         232.38               1  Changed mind           189.0        27
609          16.52               5  Changed mind           399.0        62
610         288.64               5  Changed mind            62.0        42
611         430.26               3  Changed mind           386.0        65

    User_Gender User_Location Payment_Method
0          Male        City54     Debit Card
1        Female        City49     Debit Card
2          Male        City36      Gift Card
3        Female        City25      Gift Card
4          Male        City89    Credit Card
..          ...           ...            ...
607      Female        City85    Credit Card
608      Female        City38      Gift Card
609      Female         City9     Debit Card
610        Male        City82      Gift Card
611      Female         City5     Debit Card

[612 rows x 13 columns]

In [122]:
query = """
SELECT User_Location, COUNT(*) AS Return_Count
FROM RETURNS_TABLE
GROUP BY User_Location
ORDER BY Return_Count DESC
"""
result = pd.read_sql(query, conn)
print(result)

   User_Location  Return_Count
0         City62            36
1         City36            35
2         City78            34
3          City7            34
4         City42            34
..           ...           ...
95        City96            17
96        City70            17
97        City56            16
98        City46            15
99        City41            14

[100 rows x 2 columns]

In [123]:
query = """
SELECT Return_Reason, COUNT(*) AS Return_Count
FROM RETURNS_TABLE
GROUP BY Return_Reason
ORDER BY Return_Count DESC
"""
result = pd.read_sql(query, conn)
print(result)

      Return_Reason  Return_Count
0         Defective           681
1        Wrong item           626
2  Not as described           620
3      Changed mind           612

In [124]:
query = """
SELECT User_ID, COUNT(*) AS Return_Count
FROM RETURNS_TABLE
GROUP BY User_ID
ORDER BY Return_Count DESC
LIMIT 5
"""
result = pd.read_sql(query, conn)
print(result)
#all are returning only 1 product

        User_ID  Return_Count
0  USER00009994             1
1  USER00009988             1
2  USER00009985             1
3  USER00009984             1
4  USER00009980             1

In [125]:
query = """
SELECT Payment_Method, COUNT(Product_ID) AS Total_return_count
FROM RETURNS_TABLE
GROUP BY Payment_Method
"""
result = pd.read_sql(query, conn)
print(result)

  Payment_Method  Total_return_count
0    Credit Card                 659
1     Debit Card                 648
2      Gift Card                 634
3         PayPal                 598

In [126]:
query = """
SELECT SUM(Product_Price * Order_Quantity) AS Total_Returned_Value
FROM RETURNS_TABLE
"""
result = pd.read_sql(query, conn)
print(result)

   Total_Returned_Value
0            1970060.26

In [127]:
query = """
SELECT 
    CASE 
        WHEN User_Age < 20 THEN 'Under 20'
        WHEN User_Age BETWEEN 20 AND 29 THEN '20-29'
        WHEN User_Age BETWEEN 30 AND 39 THEN '30-39'
        WHEN User_Age BETWEEN 40 AND 49 THEN '40-49'
        WHEN User_Age BETWEEN 50 AND 59 THEN '50-59'
        ELSE '60 and above'
    END AS Age_Group,
    SUM(Product_Price * Order_Quantity) AS Total_Returned_Value
FROM RETURNS_TABLE
GROUP BY Age_Group
ORDER BY Age_Group
"""
result = pd.read_sql(query, conn)
print(result)

      Age_Group  Total_Returned_Value
0         20-29             354665.15
1         30-39             379404.05
2         40-49             361756.58
3         50-59             396797.13
4  60 and above             417538.87
5      Under 20              59898.48

In [128]:
query = """
SELECT User_Gender, SUM(Product_Price * Order_Quantity) AS Total_Returned_Value
FROM RETURNS_TABLE
GROUP BY User_Gender
"""
result = pd.read_sql(query, conn)
print(result)

  User_Gender  Total_Returned_Value
0      Female             982229.64
1        Male             987830.62

In [129]:
query = """
SELECT Product_Category, Product_Price, Order_Quantity, (Product_Price * Order_Quantity) AS Total_Return_Value
FROM RETURNS_TABLE
ORDER BY Total_Return_Value DESC
LIMIT 1
"""
result = pd.read_sql(query, conn)
print(result)

  Product_Category  Product_Price  Order_Quantity  Total_Return_Value
0      Electronics         499.66               5              2498.3

In [130]:
query = """
SELECT Product_Category, COUNT(*) AS Return_Count
FROM RETURNS_TABLE
GROUP BY Product_Category
"""
result = pd.read_sql(query, conn)
print(result)

  Product_Category  Return_Count
0            Books           551
1         Clothing           521
2      Electronics           480
3             Home           501
4             Toys           486

In [132]:
query = """
SELECT strftime('%Y', Return_Date) AS Year, 
       COUNT(*) AS Return_Count
FROM RETURNS_TABLE
GROUP BY Year
ORDER BY Year
"""
result = pd.read_sql(query, conn)
print(result)

   Year  Return_Count
0  2023           645
1  2024          1894